In [32]:
"""
THEORY	Start	08:00	09:00	10:00	11:00	12:00	-	Lunch	14:00	15:00	16:00	17:00	18:00	18:51	19:01
End	08:50	09:50	10:50	11:50	12:50	-	Lunch	14:50	15:50	16:50	17:50	18:50	19:00	19:50
LAB	Start	08:00	08:51	09:51	10:41	11:40	12:31	Lunch	14:00	14:51	15:51	16:41	17:40	18:31	-
End	08:50	09:40	10:40	11:30	12:30	13:20	Lunch	14:50	15:40	16:40	17:30	18:30	19:20	-
MON	THEORY	A1	F1	D1-STS3201-SS-SJT305-ALL	TB1	TG1	-	Lunch	A2-CSE1006-TH-SJT603-ALL	F2-CSE3501-ETH-SJT522-ALL	D2-CSE2006-ETH-SJT424-ALL	TB2	TG2	-	V3
LAB	L1	L2	L3	L4	L5-CSE3501-ELA-SJT418-ALL	L6-CSE3501-ELA-SJT418-ALL	Lunch	L31	L32	L33	L34	L35	L36	-
TUE	THEORY	B1	G1	E1-FRE1001-TH-SJT702-ALL	TC1	TAA1	-	Lunch	B2-CSE3001-ETH-SJT311-ALL	G2	E2-CSE3013-ETH-SJT627-ALL	TC2	TAA2	-	V4
LAB	L7-CSE3002-ELA-SJT516-ALL	L8-CSE3002-ELA-SJT516-ALL	L9	L10	L11	L12	Lunch	L37	L38	L39	L40	L41	L42	-
WED	THEORY	C1	A1	F1	V1	V2	-	Lunch	C2-CSE3002-ETH-SJT422-ALL	A2-CSE1006-TH-SJT603-ALL	F2-CSE3501-ETH-SJT522-ALL	TD2	TBB2	-	V5
LAB	L13-CSE3001-ELA-SJT417-ALL	L14-CSE3001-ELA-SJT417-ALL	L15	L16	L17	L18	Lunch	L43	L44	L45	L46	L47	L48	-
THU	THEORY	D1-STS3201-SS-SJT305-ALL	B1	G1	TE1	TCC1	-	Lunch	D2-CSE2006-ETH-SJT424-ALL	B2-CSE3001-ETH-SJT311-ALL	G2	TE2-CSE3013-ETH-SJT627-ALL	TCC2	-	V6
LAB	L19	L20	L21-CSE2006-ELA-SJT515-ALL	L22-CSE2006-ELA-SJT515-ALL	L23	L24	Lunch	L49	L50	L51	L52	L53	L54	-
FRI	THEORY	E1-FRE1001-TH-SJT702-ALL	C1	TA1	TF1	TD1-STS3201-SS-SJT305-ALL	-	Lunch	E2-CSE3013-ETH-SJT627-ALL	C2-CSE3002-ETH-SJT422-ALL	TA2-CSE1006-TH-SJT603-ALL	TF2	TDD2	-	V7
LAB	L25	L26	L27	L28	L29	L30	Lunch	L55	L56	L57	L58	L59	L60	-
SAT	THEORY	V8	X11	X12	Y11	Y12	-	Lunch	X21	Z21	Y21	W21	W22	-	V9
LAB	L71	L72	L73	L74	L75	L76	Lunch	L77	L78	L79	L80	L81	L82	-
SUN	THEORY	V10	Y11	Y12	X11	X12	-	Lunch	Y21	Z21	X21	W21	W22	-	V11
LAB	L83	L84	L85	L86	L87	L88	Lunch	L89	L90	L91	L92	L93	L94	-
"""

'\nTHEORY\tStart\t08:00\t09:00\t10:00\t11:00\t12:00\t-\tLunch\t14:00\t15:00\t16:00\t17:00\t18:00\t18:51\t19:01\nEnd\t08:50\t09:50\t10:50\t11:50\t12:50\t-\tLunch\t14:50\t15:50\t16:50\t17:50\t18:50\t19:00\t19:50\nLAB\tStart\t08:00\t08:51\t09:51\t10:41\t11:40\t12:31\tLunch\t14:00\t14:51\t15:51\t16:41\t17:40\t18:31\t-\nEnd\t08:50\t09:40\t10:40\t11:30\t12:30\t13:20\tLunch\t14:50\t15:40\t16:40\t17:30\t18:30\t19:20\t-\nMON\tTHEORY\tA1\tF1\tD1-STS3201-SS-SJT305-ALL\tTB1\tTG1\t-\tLunch\tA2-CSE1006-TH-SJT603-ALL\tF2-CSE3501-ETH-SJT522-ALL\tD2-CSE2006-ETH-SJT424-ALL\tTB2\tTG2\t-\tV3\nLAB\tL1\tL2\tL3\tL4\tL5-CSE3501-ELA-SJT418-ALL\tL6-CSE3501-ELA-SJT418-ALL\tLunch\tL31\tL32\tL33\tL34\tL35\tL36\t-\nTUE\tTHEORY\tB1\tG1\tE1-FRE1001-TH-SJT702-ALL\tTC1\tTAA1\t-\tLunch\tB2-CSE3001-ETH-SJT311-ALL\tG2\tE2-CSE3013-ETH-SJT627-ALL\tTC2\tTAA2\t-\tV4\nLAB\tL7-CSE3002-ELA-SJT516-ALL\tL8-CSE3002-ELA-SJT516-ALL\tL9\tL10\tL11\tL12\tLunch\tL37\tL38\tL39\tL40\tL41\tL42\t-\nWED\tTHEORY\tC1\tA1\tF1\tV1\tV2\t-\tLunch\tC2-CSE3002-ETH-SJT422-ALL\tA2-CSE1006-TH-SJT603-ALL\tF2-CSE3501-ETH-SJT522-ALL\tTD2\tTBB2\t-\tV5\nLAB\tL13-CSE3001-ELA-SJT417-ALL\tL14-CSE3001-ELA-SJT417-ALL\tL15\tL16\tL17\tL18\tLunch\tL43\tL44\tL45\tL46\tL47\tL48\t-\nTHU\tTHEORY\tD1-STS3201-SS-SJT305-ALL\tB1\tG1\tTE1\tTCC1\t-\tLunch\tD2-CSE2006-ETH-SJT424-ALL\tB2-CSE3001-ETH-SJT311-ALL\tG2\tTE2-CSE3013-ETH-SJT627-ALL\tTCC2\t-\tV6\nLAB\tL19\tL20\tL21-CSE2006-ELA-SJT515-ALL\tL22-CSE2006-ELA-SJT515-ALL\tL23\tL24\tLunch\tL49\tL50\tL51\tL52\tL53\tL54\t-\nFRI\tTHEORY\tE1-FRE1001-TH-SJT702-ALL\tC1\tTA1\tTF1\tTD1-STS3201-SS-SJT305-ALL\t-\tLunch\tE2-CSE3013-ETH-SJT627-ALL\tC2-CSE3002-ETH-SJT422-ALL\tTA2-CSE1006-TH-SJT603-ALL\tTF2\tTDD2\t-\tV7\nLAB\tL25\tL26\tL27\tL28\tL29\tL30\tLunch\tL55\tL56\tL57\tL58\tL59\tL60\t-\nSAT\tTHEORY\tV8\tX11\tX12\tY11\tY12\t-\tLunch\tX21\tZ21\tY21\tW21\tW22\t-\tV9\nLAB\tL71\tL72\tL73\tL74\tL75\tL76\tLunch\tL77\tL78\tL79\tL80\tL81\tL82\t-\nSUN\tTHEORY\tV10\tY11\tY12\tX11\tX12\t-\tLunch\tY21\tZ21\tX21\tW21\tW22\t-\tV11\nLAB\tL83\tL84\tL85\tL86\tL87\tL88\tLunch\tL89\tL90\tL91\tL92\tL93\tL94\t-\n'

In [33]:
import pandas as pd
import numpy as np

timetable = """MON	THEORY	A1	F1	D1-STS3201-SS-SJT305-ALL	TB1	TG1	-	Lunch	A2-CSE1006-TH-SJT603-ALL	F2-CSE3501-ETH-SJT522-ALL		TB2	TG2	-	V3
LAB	L1	L2	L3	L4	L5-CSE3501-ELA-SJT418-ALL	L6-CSE3501-ELA-SJT418-ALL	Lunch	L31	L32	L33	L34	L35	L36	-
TUE	THEORY	B1	G1	E1-FRE1001-TH-SJT702-ALL	TC1	TAA1	-	Lunch	B2-CSE3001-ETH-SJT311-ALL	G2	E2-CSE3013-ETH-SJT627-ALL	TC2	TAA2	-	V4
LAB	L7-CSE3002-ELA-SJT516-ALL	L8-CSE3002-ELA-SJT516-ALL	L9	L10	L11	L12	Lunch	L37	L38	L39	L40	L41	L42	-
WED	THEORY	C1	A1	F1	V1	V2	-	Lunch	C2-CSE3002-ETH-SJT422-ALL	A2-CSE1006-TH-SJT603-ALL	F2-CSE3501-ETH-SJT522-ALL	TD2	TBB2	-	V5
LAB	L13-CSE3001-ELA-SJT417-ALL	L14-CSE3001-ELA-SJT417-ALL	L15	L16	L17	L18	Lunch	L43	L44	L45	L46	L47	L48	-
THU	THEORY	D1-STS3201-SS-SJT305-ALL	B1	G1	TE1	TCC1	-	Lunch	D2-CSE2006-ETH-SJT424-ALL	B2-CSE3001-ETH-SJT311-ALL	G2	TE2-CSE3013-ETH-SJT627-ALL	TCC2	-	V6
LAB	L19	L20	L21-CSE2006-ELA-SJT515-ALL	L22-CSE2006-ELA-SJT515-ALL	L23	L24	Lunch	L49	L50	L51	L52	L53	L54	-
FRI	THEORY	E1-FRE1001-TH-SJT702-ALL	C1	TA1	TF1	TD1-STS3201-SS-SJT305-ALL	-	Lunch	E2-CSE3013-ETH-SJT627-ALL	C2-CSE3002-ETH-SJT422-ALL	TA2-CSE1006-TH-SJT603-ALL	TF2	TDD2	-	V7
LAB	L25	L26	L27	L28	L29	L30	Lunch	L55	L56	L57	L58	L59	L60	-
SAT	THEORY	V8	X11	X12	Y11	Y12	-	Lunch	X21	Z21	Y21	W21	W22	-	V9
LAB	L71	L72	L73	L74	L75	L76	Lunch	L77	L78	L79	L80	L81	L82	-
SUN	THEORY	V10	Y11	Y12	X11	X12	-	Lunch	Y21	Z21	X21	W21	W22	-	V11
LAB	L83	L84	L85	L86	L87	L88	Lunch	L89	L90	L91	L92	L93	L94	-"""

days = ["MON", "TUE", "WED", "THU", "FRI", "SAT", "SUN"]



# def get_theory_slots():
#     theory_slots = []
#     for day in days:
#         theory_slots.append(day + "_THEORY")
#     return theory_slots

# def get_lab_slots():
#     lab_slots = []
#     for day in days:
#         lab_slots.append(day + "_LAB")
#     return lab_slots


def get_timetable(timetable):
    print(timetable)
    timetable = timetable.splitlines()
    timetable = [x.split('\t') for x in timetable]
    timetable = pd.DataFrame(timetable)
    timetable = timetable.set_index(0)
    # timetable = timetable.T
    # timetable = timetable.dropna(axis=1, how='all')
    # timetable = timetable.dropna(axis=0, how='all')
    return timetable

In [34]:
time_df = get_timetable(timetable)
time_df

MON	THEORY	A1	F1	D1-STS3201-SS-SJT305-ALL	TB1	TG1	-	Lunch	A2-CSE1006-TH-SJT603-ALL	F2-CSE3501-ETH-SJT522-ALL		TB2	TG2	-	V3
LAB	L1	L2	L3	L4	L5-CSE3501-ELA-SJT418-ALL	L6-CSE3501-ELA-SJT418-ALL	Lunch	L31	L32	L33	L34	L35	L36	-
TUE	THEORY	B1	G1	E1-FRE1001-TH-SJT702-ALL	TC1	TAA1	-	Lunch	B2-CSE3001-ETH-SJT311-ALL	G2	E2-CSE3013-ETH-SJT627-ALL	TC2	TAA2	-	V4
LAB	L7-CSE3002-ELA-SJT516-ALL	L8-CSE3002-ELA-SJT516-ALL	L9	L10	L11	L12	Lunch	L37	L38	L39	L40	L41	L42	-
WED	THEORY	C1	A1	F1	V1	V2	-	Lunch	C2-CSE3002-ETH-SJT422-ALL	A2-CSE1006-TH-SJT603-ALL	F2-CSE3501-ETH-SJT522-ALL	TD2	TBB2	-	V5
LAB	L13-CSE3001-ELA-SJT417-ALL	L14-CSE3001-ELA-SJT417-ALL	L15	L16	L17	L18	Lunch	L43	L44	L45	L46	L47	L48	-
THU	THEORY	D1-STS3201-SS-SJT305-ALL	B1	G1	TE1	TCC1	-	Lunch	D2-CSE2006-ETH-SJT424-ALL	B2-CSE3001-ETH-SJT311-ALL	G2	TE2-CSE3013-ETH-SJT627-ALL	TCC2	-	V6
LAB	L19	L20	L21-CSE2006-ELA-SJT515-ALL	L22-CSE2006-ELA-SJT515-ALL	L23	L24	Lunch	L49	L50	L51	L52	L53	L54	-
FRI	THEORY	E1-FRE1001-TH-SJT702-ALL	C1	TA1	TF1	TD1-STS3201-SS-SJT305-ALL	-	Lunch	E2-CSE3013-ETH-SJT627-ALL	C2-CSE3002-ETH-SJT422-ALL	TA2-CSE1006-TH-SJT603-ALL	TF2	TDD2	-	V7
LAB	L25	L26	L27	L28	L29	L30	Lunch	L55	L56	L57	L58	L59	L60	-
SAT	THEORY	V8	X11	X12	Y11	Y12	-	Lunch	X21	Z21	Y21	W21	W22	-	V9
LAB	L71	L72	L73	L74	L75	L76	Lunch	L77	L78	L79	L80	L81	L82	-
SUN	THEORY	V10	Y11	Y12	X11	X12	-	Lunch	Y21	Z21	X21	W21	W22	-	V11
LAB	L83	L84	L85	L86	L87	L88	Lunch	L89	L90	L91	L92	L93	L94	-

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,,,,,,,,,,,,,,,
MON,THEORY,A1,F1,D1-STS3201-SS-SJT305-ALL,TB1,TG1,-,Lunch,A2-CSE1006-TH-SJT603-ALL,F2-CSE3501-ETH-SJT522-ALL,,TB2,TG2,-,V3
LAB,L1,L2,L3,L4,L5-CSE3501-ELA-SJT418-ALL,L6-CSE3501-ELA-SJT418-ALL,Lunch,L31,L32,L33,L34,L35,L36,-,None
TUE,THEORY,B1,G1,E1-FRE1001-TH-SJT702-ALL,TC1,TAA1,-,Lunch,B2-CSE3001-ETH-SJT311-ALL,G2,E2-CSE3013-ETH-SJT627-ALL,TC2,TAA2,-,V4
LAB,L7-CSE3002-ELA-SJT516-ALL,L8-CSE3002-ELA-SJT516-ALL,L9,L10,L11,L12,Lunch,L37,L38,L39,L40,L41,L42,-,None
WED,THEORY,C1,A1,F1,V1,V2,-,Lunch,C2-CSE3002-ETH-SJT422-ALL,A2-CSE1006-TH-SJT603-ALL,F2-CSE3501-ETH-SJT522-ALL,TD2,TBB2,-,V5
LAB,L13-CSE3001-ELA-SJT417-ALL,L14-CSE3001-ELA-SJT417-ALL,L15,L16,L17,L18,Lunch,L43,L44,L45,L46,L47,L48,-,None
THU,THEORY,D1-STS3201-SS-SJT305-ALL,B1,G1,TE1,TCC1,-,Lunch,D2-CSE2006-ETH-SJT424-ALL,B2-CSE3001-ETH-SJT311-ALL,G2,TE2-CSE3013-ETH-SJT627-ALL,TCC2,-,V6
LAB,L19,L20,L21-CSE2006-ELA-SJT515-ALL,L22-CSE2006-ELA-SJT515-ALL,L23,L24,Lunch,L49,L50,L51,L52,L53,L54,-,None
FRI,THEORY,E1-FRE1001-TH-SJT702-ALL,C1,TA1,TF1,TD1-STS3201-SS-SJT305-ALL,-,Lunch,E2-CSE3013-ETH-SJT627-ALL,C2-CSE3002-ETH-SJT422-ALL,TA2-CSE1006-TH-SJT603-ALL,TF2,TDD2,-,V7
LAB,L25,L26,L27,L28,L29,L30,Lunch,L55,L56,L57,L58,L59,L60,-,None
SAT,THEORY,V8,X11,X12,Y11,Y12,-,Lunch,X21,Z21,Y21,W21,W22,-,V9
LAB,L71,L72,L73,L74,L75,L76,Lunch,L77,L78,L79,L80,L81,L82,-,None
SUN,THEORY,V10,Y11,Y12,X11,X12,-,Lunch,Y21,Z21,X21,W21,W22,-,V11
LAB,L83,L84,L85,L86,L87,L88,Lunch,L89,L90,L91,L92,L93,L94,-,None

In [35]:
# for alternate rows in time_df append to list th
def get_theory_slots(time_df):
    theory_slots = []
    for i in range(0, len(time_df), 2):
        theory_slots.append(time_df.iloc[i])

    theory_df = pd.concat(theory_slots, axis=1)
    #drop the first row
    # theory_df = theory_df.drop(theory_df.index[0])
    
    return theory_df.T

th = get_theory_slots(time_df)
    
th

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
MON,THEORY,A1,F1,D1-STS3201-SS-SJT305-ALL,TB1,TG1,-,Lunch,A2-CSE1006-TH-SJT603-ALL,F2-CSE3501-ETH-SJT522-ALL,,TB2,TG2,-,V3
TUE,THEORY,B1,G1,E1-FRE1001-TH-SJT702-ALL,TC1,TAA1,-,Lunch,B2-CSE3001-ETH-SJT311-ALL,G2,E2-CSE3013-ETH-SJT627-ALL,TC2,TAA2,-,V4
WED,THEORY,C1,A1,F1,V1,V2,-,Lunch,C2-CSE3002-ETH-SJT422-ALL,A2-CSE1006-TH-SJT603-ALL,F2-CSE3501-ETH-SJT522-ALL,TD2,TBB2,-,V5
THU,THEORY,D1-STS3201-SS-SJT305-ALL,B1,G1,TE1,TCC1,-,Lunch,D2-CSE2006-ETH-SJT424-ALL,B2-CSE3001-ETH-SJT311-ALL,G2,TE2-CSE3013-ETH-SJT627-ALL,TCC2,-,V6
FRI,THEORY,E1-FRE1001-TH-SJT702-ALL,C1,TA1,TF1,TD1-STS3201-SS-SJT305-ALL,-,Lunch,E2-CSE3013-ETH-SJT627-ALL,C2-CSE3002-ETH-SJT422-ALL,TA2-CSE1006-TH-SJT603-ALL,TF2,TDD2,-,V7
SAT,THEORY,V8,X11,X12,Y11,Y12,-,Lunch,X21,Z21,Y21,W21,W22,-,V9
SUN,THEORY,V10,Y11,Y12,X11,X12,-,Lunch,Y21,Z21,X21,W21,W22,-,V11

In [36]:
def get_lab_slots(time_df):
    lab_slots = []
    for i in range(1, len(time_df), 2):
        lab_slots.append(time_df.iloc[i])

    lab_df = pd.concat(lab_slots, axis=1)

    return lab_df.T
lb = get_lab_slots(time_df)
lb

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
LAB,L1,L2,L3,L4,L5-CSE3501-ELA-SJT418-ALL,L6-CSE3501-ELA-SJT418-ALL,Lunch,L31,L32,L33,L34,L35,L36,-,None
LAB,L7-CSE3002-ELA-SJT516-ALL,L8-CSE3002-ELA-SJT516-ALL,L9,L10,L11,L12,Lunch,L37,L38,L39,L40,L41,L42,-,None
LAB,L13-CSE3001-ELA-SJT417-ALL,L14-CSE3001-ELA-SJT417-ALL,L15,L16,L17,L18,Lunch,L43,L44,L45,L46,L47,L48,-,None
LAB,L19,L20,L21-CSE2006-ELA-SJT515-ALL,L22-CSE2006-ELA-SJT515-ALL,L23,L24,Lunch,L49,L50,L51,L52,L53,L54,-,None
LAB,L25,L26,L27,L28,L29,L30,Lunch,L55,L56,L57,L58,L59,L60,-,None
LAB,L71,L72,L73,L74,L75,L76,Lunch,L77,L78,L79,L80,L81,L82,-,None
LAB,L83,L84,L85,L86,L87,L88,Lunch,L89,L90,L91,L92,L93,L94,-,None

In [37]:
# Mark all cell which have more than 3 characters as 1

def mark_theory_slots(th):
    th = th.replace(np.nan, '', regex=True)
    th = th.applymap(lambda x: 1 if len(x) > 3 else 0)
    return th

th = mark_theory_slots(th)
lb = mark_theory_slots(lb)
th

     1   2   3   4   5   6   7   8   9   10  11  12  13  14  15
MON   1   0   0   1   0   0   0   1   1   1   0   0   0   0   0
TUE   1   0   0   1   0   1   0   1   1   0   1   0   1   0   0
WED   1   0   0   0   0   0   0   1   1   1   1   0   1   0   0
THU   1   1   0   0   0   1   0   1   1   1   0   1   1   0   0
FRI   1   1   0   0   0   1   0   1   1   1   1   0   1   0   0
SAT   1   0   0   0   0   0   0   1   0   0   0   0   0   0   0
SUN   1   0   0   0   0   0   0   1   0   0   0   0   0   0   0

In [38]:
th

     1   2   3   4   5   6   7   8   9   10  11  12  13  14  15
MON   1   0   0   1   0   0   0   1   1   1   0   0   0   0   0
TUE   1   0   0   1   0   1   0   1   1   0   1   0   1   0   0
WED   1   0   0   0   0   0   0   1   1   1   1   0   1   0   0
THU   1   1   0   0   0   1   0   1   1   1   0   1   1   0   0
FRI   1   1   0   0   0   1   0   1   1   1   1   0   1   0   0
SAT   1   0   0   0   0   0   0   1   0   0   0   0   0   0   0
SUN   1   0   0   0   0   0   0   1   0   0   0   0   0   0   0

In [39]:
# Remove column with name=='1'

def remove_empty_columns(th):
    th = th.drop(columns=[1])
    return th

th = remove_empty_columns(th)
th

     2   3   4   5   6   7   8   9   10  11  12  13  14  15
MON   0   0   1   0   0   0   1   1   1   0   0   0   0   0
TUE   0   0   1   0   1   0   1   1   0   1   0   1   0   0
WED   0   0   0   0   0   0   1   1   1   1   0   1   0   0
THU   1   0   0   0   1   0   1   1   1   0   1   1   0   0
FRI   1   0   0   0   1   0   1   1   1   1   0   1   0   0
SAT   0   0   0   0   0   0   1   0   0   0   0   0   0   0
SUN   0   0   0   0   0   0   1   0   0   0   0   0   0   0

In [40]:
lb

     1   2   3   4   5   6   7   8   9   10  11  12  13  14  15
LAB   0   0   0   0   1   1   1   0   0   0   0   0   0   0   0
LAB   1   1   0   0   0   0   1   0   0   0   0   0   0   0   0
LAB   1   1   0   0   0   0   1   0   0   0   0   0   0   0   0
LAB   0   0   1   1   0   0   1   0   0   0   0   0   0   0   0
LAB   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0
LAB   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0
LAB   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0